@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";



/* ===================================================== */
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: repeat(2, auto);
  gap: 40px 53px;
}

.about__img {
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  grid-row: 1/-1;
}

.about__img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 50%;
}

.about__img-control {
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 4.6%;
  left: 5%;
  max-width: 299px;
  background: #957b97e6;
  color: var(--general-bg);
  border-radius: var(--border-radius);
  padding: 15px 20px;
  position: absolute;
}

.about__img-button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  background: var(--general-bg);
  border-radius: 50%;
  position: relative;
}

.about__img-button::before {
  content: '';
  position: absolute;
  inset: 5px;
  border: 1px solid var(--uppercase-text);
  border-radius: 50%;

  opacity: 0;
  transition: var(--transition);
}

.about__img-button:hover::before {
  opacity: 1;
}

.about__body {}

.about__heading {}

.about__title {}

.about__title-text {
  margin-bottom: 30px;
}

.about__text {
  /* margin-bottom: 40px; */
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.about__grid-item {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 29px 24px;
  background: var(--accent-bg);
  border-radius: var(--border-radius);
}

.about__grid-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid var(--accent-text);
  height: 60px;
  width: 60px;
}


.about__grid-text {}


/* ======================================================== */

.program {}

.program__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  gap: 30px 15px;
}

.program__title {
  margin-bottom: 20px;
}

.program__text {}


.program__tab-content {
  margin-bottom: 40px;
}

.program__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.program__action {
  display: grid;
  grid-template: repeat(3, auto) / 1.65fr 1fr;
  gap: 40px;
  max-width: 500px;
  width: 100%;
  flex-shrink: 0;
}

.program__discount {
  grid-row: 1 / 3;
  background: var(--accent-bg);
  border-radius: var(--border-radius);
  padding: 40px;
  font-size: 20px;
}

.program__discount span {
  font-size: 16px;
  margin-left: 39%;
}

.program__discount-value {
  font-family: "Gabriola";
  font-size: 74px;
  line-height: .82;
  color: var(--accent-color);
  margin: 0 0 7px 13%;

  transform-origin: 0 0;
  animation: discount-grow .9s linear infinite alternate;
}

@keyframes discount-grow {
  0% {
    color: var(--accent-color);
    transform: scale(1);

  }

  100% {
    color: #ff9138;
    transform: translateX(4%) scale(1.1);
  }
}

.program__price {}

.program__price-text {
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--uppercase-text);
  margin-bottom: 5px;
}

.program__price-value {
  font-family: "Gabriola";
  font-size: 32px;
  line-height: .9;
}

.program__price-value--big {
  font-size: 50px;
  color: var(--accent-text);
}

.program__button {
  grid-column: 1 / -1;
}

.program__img img {
  width: 100%;
}


.tab-controls {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
}

.tab-controls__item {}

.tab-controls__link {
  display: block;
  border-radius: 100px;
  background: var(--general-bg);
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
  padding: 14px 30px;
  white-space: nowrap;

  transition: var(--transition);
}

.tab-controls__link:hover {
  background: var(--accent-bg);
}

.tab-controls__link--active {
  background: var(--accent-bg);
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

.tab-content {
  display: none;
}

.tab-content--show {
  display: block;
}

.accordion-list {}

.accordion-list__item {
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  margin-bottom: 30px;
}

.accordion-list__item:last-child {
  margin-bottom: 0;
}


.accordion-list__control {
  padding: 40px 30px;
  width: 100%;
  background: transparent;

  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* align-items: center; */

  font-family: "Gabriola";
  font-size: 42px;
  line-height: .9;
  color: var(--accent-text);

  transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
  padding: 40px 30px 20px;
}

.accordion-list__control-title {}

.accordion-list__control-icon {
  height: 36px;
  width: 36px;
  border: 1.50px solid var(--accent-color);
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  transition: var(--transition);
}

.accordion-list__control-icon path {
  transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
  background: var(--accent-color);
  transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
  fill: var(--general-bg);
}

.accordion-list__control-icon svg {
  margin-left: 2px;
}

.accordion-list__item--opened .accordion-list__control-icon {
  background: var(--accent-color);
  transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon path {
  fill: var(--general-bg);
}


.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.accordion-content {
  display: flex;
  padding: 0 30px 40px;
  gap: 80px;
}

.accordion-content__col {}

.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}

.accordion-content__title {
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--uppercase-text);
  margin-bottom: 20px;
}

.accordion-content__list {}

.accordion-content__item {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.accordion-content__item:last-child {
  margin-bottom: 0;
}

.accordion-content__icon {
  border: 1px solid var(--uppercase-text);
  border-radius: 50px;
  width: 24px;
  height: 24px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* margin-right: 4px; */

}

.accordion-content__text {
  max-width: 274px;
  width: 100%;
}


/* ====================================================== */

.gallery {}

.gallery__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 40px;
}

.gallery__img {
  justify-self: center;
  align-self: center;
}

.gallery__img img {
  max-width: 100%;
}

.gallery__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px 15px;
}

.gallery__info {
  max-width: 380px;
}

.gallery__title {
  margin-bottom: 20px;
}

.gallery__text {}

.gallery__slider {}

.gallery__wrapper {}

.gallery__nav {
  display: flex;
  align-items: center;
  gap: 98px;
  position: relative;

  font-family: "Gabriola";
  font-size: 42px;
  line-height: .9;
}

.gallery__prev,
.gallery__next {
  cursor: pointer;
  background: transparent;

  border: 1.50px solid var(--accent-color);
  border-radius: 50px;
  display: flex;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;

  transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
  background: var(--accent-color);
}

.gallery__prev path,
.gallery__next path {
  transition: var(--transition);
}

.gallery__prev:hover path,
.gallery__next:hover path {
  fill: var(--general-bg);
}

.gallery__prev.swiper-button-disabled,
.gallery__next.swiper-button-disabled {
  border: 1.50px solid #E1D9E1;
}

.gallery__prev.swiper-button-disabled path,
.gallery__next.swiper-button-disabled path {
  fill: #E1D9E1;
}

.gallery__prev.swiper-button-disabled:hover,
.gallery__next.swiper-button-disabled:hover {
  background: transparent;
  cursor: auto;
}

.gallery__prev.swiper-button-disabled:hover path,
.gallery__next.swiper-button-disabled:hover path {
  fill: #E1D9E1;
}


.gallery__pagination {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  bottom: auto;
}

.gallery__slide {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.gallery__slide img {
  width: 100%;
}

/* ====================================================== */

.testimonials__inner {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
}

.testimonials__info {
  max-width: 632px;
}

.testimonials__title {
  margin-bottom: 20px;
}

.testimonials__text {}

.testimonials__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.testimonials__prev,
.testimonials__next {
  cursor: pointer;
  background: transparent;

  border: 1.50px solid var(--accent-color);
  border-radius: 50px;
  display: flex;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;

  transition: var(--transition);
}

.testimonials__prev:hover,
.testimonials__next:hover {
  background: var(--accent-color);
}

.testimonials__prev path,
.testimonials__next path {
  transition: var(--transition);
}

.testimonials__prev:hover path,
.testimonials__next:hover path {
  fill: var(--general-bg);
}

.testimonials__prev.swiper-button-disabled,
.testimonials__next.swiper-button-disabled {
  border: 1.50px solid #E1D9E1;
}

.testimonials__prev.swiper-button-disabled path,
.testimonials__next.swiper-button-disabled path {
  fill: #E1D9E1;
}

.testimonials__prev.swiper-button-disabled:hover,
.testimonials__next.swiper-button-disabled:hover {
  background: transparent;
  cursor: auto;
}

.testimonials__prev.swiper-button-disabled:hover path,
.testimonials__next.swiper-button-disabled:hover path {
  fill: #E1D9E1;
}

.testimonials__slider {
  overflow: visible;
}

.testimonials__wrapper {
  margin-bottom: 40px;
}

.testimonials__slide {
  background: var(--accent-bg);
  border-radius: var(--border-radius);
  padding: 30px 30px 40px;

  display: flex;
  gap: 30px;

  opacity: 0;
  transition: var(--transition);
  height: auto;
}

.testimonials__slide.swiper-slide {
  transform: scale(.9);
}

.swiper-slide-active.testimonials__slide {
  transform: scale(1);
  opacity: 1;
}

.swiper-slide-next.testimonials__slide,
.swiper-slide-prev.testimonials__slide {
  opacity: .5;
}

.testimonials__student {
  text-align: center;
  max-width: 165px;
  width: 100%;
  flex-shrink: 0;
}

.testimonials__student-img {
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 20px;
}

.testimonials__student-img img {
  width: 100%;
}

.testimonials__student-name {
  line-height: 1.6;
  text-transform: uppercase;
  color: var(--accent-text);
  margin-bottom: 5px;
}

.testimonials__student-inst {
  color: var(--uppercase-text);
  margin: 0 auto;

}

.testimonials__quote span {
  display: block;
  font-family: "Gabriola";
  font-size: 32px;
  line-height: .9;
  color: var(--accent-text);
  margin-bottom: 10px;
}

.testimonials__scrollbar.swiper-scrollbar {
  width: 100%;
  position: static;
  height: 7px;
}

.testimonials__scrollbar {
  background: var(--accent-bg);
}

.testimonials__scrollbar .swiper-scrollbar-drag {
  background: var(--accent-color);
}

/* ======================================================= */
/* ======================================================= */
/* ======================================================= */

@media (max-width: 1200px) {

  .hero__inner {
    align-items: center;
  }

  .hero__img {
    margin: 0;
  }

  .hero__img-control {
    max-width: 377px;
    position: static;
    margin-top: 30px;
  }

  /* ============================ */

  .program__top {
    flex-direction: column;
    align-items: stretch;
  }

  /* ============================ */
  .footer__inner {
    justify-content: space-between;
    grid-template: repeat(2, auto) / repeat(3, auto);
  }

  .footer__col:last-child {
    grid-column: 1 / -1;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .about__img {
    grid-row: auto;
  }

  .about__body {
    align-self: center;
  }

  .about__grid {
    grid-column: 1/-1;
  }

  /* ======================== */

  .accordion-list__control {
    padding: 18px 20px;
    font-size: 35px;
  }

  .accordion-list__item--opened .accordion-list__control {
    padding: 18px 20px 20px;
  }

  .accordion-list__item {
    margin-bottom: 10px;
  }

  .accordion-content {
    gap: 30px;
  }

  .accordion-content__item {
    margin-bottom: 12px;
  }

  .accordion-content {
    padding: 0 23px 30px;
  }
}

@media (max-width: 900px) {
  .nav {
    position: fixed;
    inset: 0;
    background: var(--general-bg);
    font-size: 24px;
    padding: 26vh 15px 30px;
    z-index: 10;

    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }

  /* ============================== */

  .program__top {
    margin-bottom: 30px;
    gap: 20px;
  }

  .accordion-list__control {
    padding: 20px 20px;
    font-size: 32px;
  }

  /* .accordion-list__item--opened .accordion-list__control {
    padding: 10px 15px;
  } */

  .accordion-list__control-icon {
    height: 26px;
    width: 26px;
  }

  .accordion-list__control-icon svg {
    width: 10px;
  }

  .accordion-content {
    padding: 0px 20px 20px;
    flex-direction: column;
  }

  .accordion-list__item--opened .accordion-list__control {
    padding: 20px;
  }

  .accordion-content__col:first-child {
    max-width: none;
  }

  .accordion-content__text {
    max-width: none;
  }

  .program__action {
    display: grid;
    grid-template: repeat(3, auto) / minmax(287px, 1fr) 1fr;
    gap: 40px;
    max-width: none;
  }

  /* ============================= */
  .testimonials__scrollbar.swiper-scrollbar {
    width: 50%;
    margin: 0 auto;
  }

  /* ============================== */
  .footer__inner {
    grid-template: none;
    justify-content: center;
    text-align: center;
    gap: 0;
  }

  .footer__col:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer__col:nth-child(2) {
    margin-bottom: 40px;
  }

  .footer__col:nth-child(3) {
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .hero__content {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .hero__img {
    display: none;
  }

  .hero__img-control--mobile {
    display: flex;
    margin: 0 0 30px;
  }

  /* ======================= */

  .about__inner,
  .about__grid {
    grid-template: none;
  }

  .about__img {
    justify-self: center;
    max-width: 500px;
  }

  .about__body {
    text-align: center;
  }

  /* ======================== */

  .accordion-content__item {
    margin-bottom: 9px;
  }

  .accordion-list__control {
    font-size: 28px;
  }

  .tab-controls__link {
    padding: 8px 20px;
  }

  .accordion-content__title {
    margin-bottom: 10px;
  }

  .program__img {
    display: none;
  }

  /* ================================== */

  .gallery__inner {
    grid-template: none;
  }

  .gallery__img {
    display: none;
  }

  .gallery__info {
    max-width: none;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 12vw;
  }

  .main__about {
    padding: 60px 0 80px;
  }

  .main__program,
  .main__gallery,
  .main__testimonials {
    margin-bottom: 80px;
  }

  /* ==================== */

  .header__hero {
    padding-bottom: 80px;
  }

  /* ==================== */

  .about__img-control {
    bottom: 0;
    left: 0;
    right: 0;
    max-width: none;
    border-radius: 0;
    padding: 8px 15px;
  }

  .about__grid {
    gap: 15px;
  }

  .about__grid-item {
    padding: 10px 15px;
  }

  /* ======================== */

  .program__title {
    text-align: center;
  }

  .program__text {
    text-align: center;
  }

  .tab-controls {
    gap: 10px;
    justify-content: center;
  }

  .accordion-list__control-title {
    text-align: left;
  }

  .program__action {
    grid-template: repeat(3, auto) / auto auto;
    gap: 25px;
    max-width: none;
  }

  .program__discount {
    grid-row: auto;
    grid-column: 1 / -1;
    justify-self: center;
  }

  .program__price {
    text-align: center;
  }

  /* =========================== */

  .gallery__content {
    flex-direction: column;
  }

  .gallery__inner {
    margin-bottom: 20px;
  }

  .gallery__info {
    text-align: center;
  }

  /* ============================= */
  .testimonials__inner {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .testimonials__info {
    text-align: center;
  }

  .testimonials__slide {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .testimonials__quote {
    text-align: center;
  }

}

@media (max-width: 450px) {
  .modal__window {
    padding: 0 20px 45px;
  }

  .modal__img {
    max-width: 50%;
    margin-top: -40px;
  }

  .modal__title {
    font-size: 35px;
  }

  .modal__text {
    margin-bottom: 24px;
  }

  /* =========================== */
  .program__action {
    grid-template: none;
  }

  .accordion-list__control {
    padding: 15px 17px;
  }

  .accordion-list__item--opened .accordion-list__control {
    padding: 15px 17px;
  }

  .accordion-content {
    padding: 0 15px 17px;
    gap: 20px;
  }

  .testimonials__slide {
    padding: 30px 10px;
  }

}