.some-text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 40px;
  line-height: 60px;
  text-align: justify;
  font-weight: 700;
  font-style: italic;
  text-transform: none;
  text-indent: 40px;
  letter-spacing: 2px;
  word-spacing: 10px;
  white-space: normal;
}

.some-text-open-sans {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
}

.some-text-line {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 20px;
  text-decoration: line-through;
  letter-spacing: normal;
}

.some-text-line2 {
  font-family: "Merriweather", "Times New Roman", serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.some-text-shadow {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 20px;
  text-decoration: overline;
  text-decoration: wavy;
  word-spacing: 30px;
  text-shadow: 10 10 10 #6810af;
}

.some-text-double {
  font-family: "IBM Plex Serif", "Times New Roman", serif;
  font-size: 20px;
  letter-spacing: 5px;
  text-decoration: double;
}