:root {
  --general-bg: #00100F;
  --general-text: #ffffff;
  --accent-color: #33B0AA;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.42;
  background: var(--general-bg);
  color: var(--general-text);
}

.body--opened-modal-about,
.body--opened-modal-calc,
.body--opened-modal-contact,
.body--opened-modal-thanks {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.main__hero {
  margin: 126px 0 120px;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  overflow: visible;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.42;
  /* width: 100%; */

  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(30px);
  background: #ffffff33;
  opacity: 0.8;
  border-radius: 12px;
  padding: 3px 15px;
  height: 55px;
  transition: all .6s;
}

.button:hover {
  opacity: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__top {
  background: #004643;
}

.header__top-connect {
  display: flex;
  gap: 48px;
  justify-content: end;
  align-items: center;
  padding: 11px 0;
  background: #004643;
  /* overflow: visible; */
  font-weight: 600;
}

.header__top-tel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.socials__link svg {
  vertical-align: middle;
}

.header__bottom {
  background: #000;
}

.header__bottom-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 59px;
  padding: 19px 0;
}

.header__bottom-logo {
  max-width: 155px;
}

.header__bottom-logo img {
  width: 100%;
}

.nav {}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px 42px;
  line-height: 1.4;
  font-size: 14px;
  /* font-weight: 400; */
}

.nav__item {}

.nav__link {}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--general-text);
  transition: all .6s;
}

.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  position: absolute;
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0px;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0px;
  transform: rotate(-45deg);
}

.hero {
  position: relative;
  overflow: hidden;
  /* height: 56vw; */
}

.hero__content-title {
  font-family: "Dela Gothic One";
  font-size: 54px;
  line-height: 1.42;
  text-align: center;
  color: var(--accent-color);
  position: relative;
}

.hero__content-title span {
  color: var(--general-text);
}

.hero__content-title::before {
  content: '';
  width: 188px;
  height: 188px;
  border-radius: 50%;
  position: absolute;
  background: #28b0a9;
  filter: blur(100px);
  z-index: -1;
}

.hero__content-title::after {
  content: '';
  width: 188px;
  height: 188px;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  right: -15%;
  background: #28b0a9;
  filter: blur(100px);
  z-index: -1;
}

.hero__button-about {
  box-shadow: 0px 12px 23px 0 #0823228f, inset 0px 6px 6px 0 #36ece3, inset -0px -6px 6px 0 #176561;
  background: linear-gradient(180deg, #32ddd4 0%, #1a746f 100%);
  max-width: 216px;
}

.hero__button-price {
  backdrop-filter: blur(30px);
  box-shadow: 0px 20px 40px 0 #33333333, inset 0px 9px 9px 0 #ffffff1a, inset -0px -9px 9px 0 #a2a2a21a;
  background: linear-gradient(180deg, #ffffff33 0%, #b5b5b533 100%);
  max-width: 246px;
}

.hero__content {
  padding: 60px 100px 115px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.hero__content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.hero__content-column:first-child {
  gap: 290px;
}

.hero__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.hero__content-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 162px;
  height: 129px;
  padding: 20px;
  background: rgb(46 55 55 / 36%);
  backdrop-filter: blur(30px);
  border-radius: 24px;
}

.hero__content-info:last-child {
  text-align: center;
}

.hero__content-info span {
  font-weight: 700;
  font-size: 20px;
}

.hero__content-info p {
  font-weight: 500;
  text-align: center;
}

.hero__content-adaptive {
  display: none;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 1280px;
  /* height: 100%;
  width: 100%; */
  object-fit: cover;
  z-index: -2;
  margin: 0 auto;
}

.hero__video video {
  width: 100%;
  /* height: 100%; */
}

.hero__video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0606068e;
}

/* =================================================== */

.footer__inner {
  padding: 50px 100px 22px;
  background: #000908;
}

.footer__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 30px;
}

.footer__top-column-contact p {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffffcc;
  margin-bottom: 17px;
}

.footer__logo img {
  max-width: 117px;
  margin-bottom: 20px;
}

.footer__time-list,
.footer__areas-list {
  font-size: 14px;
  line-height: 1.4;
  color: #ffffffcc;
}

.footer__time-item,
.footer__area-item {
  margin-bottom: 9px;
}

.footer__time-item:nth-child(2),
.footer__time-item:last-child {
  margin-bottom: 17px;
}

.footer__time-item {}

.footer__areas-list {}


.footer__area-item {}

.footer__contact-list p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 9px;
}

.footer__contact-item {
  display: flex;
  align-items: baseline;
  justify-content: start;
  gap: 10px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1.4;
}

.footer__contact-item:last-child {
  margin-bottom: 17px;
}

.footer__contact-number {}

.footer__socials-list {
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 24px;
  margin-bottom: 20px;
}

.footer__socials-link img {
  vertical-align: middle;
}

.footer__applications {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 21px;
  margin-bottom: 35px;
}

.footer__applications img {
  cursor: pointer;
}

.footer__line {
  border: 1px solid #ffffff33;
  max-width: 1080px;
  margin-bottom: 21px;
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  gap: 15px 79px;
  font-size: 12px;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
}

.footer__bottom-item {}

/* =================================================== */
.modal-about,
.modal-calculator,
.modal-contact,
.modal-thanks {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: #000000bd;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: all .6s;
}

.body--opened-modal-about .modal-about,
.body--opened-modal-calc .modal-calculator,
.body--opened-modal-contact .modal-contact,
.body--opened-modal-thanks .modal-thanks {
  opacity: 1;
  visibility: visible;
}

.modal-window {
  background: #004643;
  border-radius: 24px;
  padding: 60px;
  position: relative;
  max-width: 613px;
}

.modal-about__window {
  padding: 60px 44px;
}

.modal-calculator__window {
  padding: 60px 90px;
  max-width: 1080px;
}

.modal-contact__window {
  max-width: 613px;
}

.modal-thanks__window {
  max-width: 710px;
}


.modal-cancel {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 30px;
  right: 30px;
}

.modal-cancel__line-left,
.modal-cancel__line-right {
  width: 100%;
  background: var(--general-text);
  height: 2.5px;
  background: var(--general-text);
  position: absolute;
  top: 14px;
}

.modal-cancel__line-left {
  transform: rotate(45deg);
}

.modal-cancel__line-right {
  transform: rotate(-45deg);
}

.modal-title {
  font-family: "Dela Gothic One";
  font-size: 40px;
  line-height: 1.4;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.modal-calculator__title span {
  color: var(--accent-color);
}

.modal-text {
  margin-bottom: 30px;
  text-align: center;
  padding: 0 45px;
}

.modal-calculator__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.modal-calculator__column {
  margin-bottom: 20px;
}

.modal-calculator__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 14px;
}

.field {
  margin-bottom: 10px;
  position: relative;
  display: block;
}

.field__input {
  display: block;
  width: 100%;
  border: 1px solid #004643;
  background: #00000000;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.4;
  color: var(--general-text);
  padding: 20px;
  background: linear-gradient(180deg, #ffffff33 0%, #b5b5b533 100%);
  backdrop-filter: blur(15px);
  transition: all .6s;
  margin-bottom: 20px;
}


.field__input:hover {
  border: 1px solid #ffffff80;
}

.field__input::placeholder {
  transition: all .6s;
}

.field__input:hover::placeholder {
  color: #ffffff80;
}

.check-label {
  display: flex;
  align-items: start;
  gap: 10px;
  max-width: 493px;
  margin-bottom: 30px;
  font-size: 12px;
  color: #ffffff80;
}

.modal-calculator__check-label {
  display: flex;
  align-items: start;
  gap: 12px;
  max-width: 326px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff80;
}

.modal-about__check-label a {
  text-decoration: underline;
  transition: all .6s;
}

.modal-about__check-label a:hover {
  color: var(--general-text);
}

.modal-checkbox {
  appearance: none;
  border: 1px solid #D4D3D3;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;

  position: relative;
  transition: all .6s;
}

.modal-checkbox::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url("../img/icons/check.svg") 50% 50% no-repeat;
  background-size: contain;
  opacity: 0;
  transition: all .6s;
}

.modal-checkbox:hover {
  border: 1.5px solid var(--general-text);
}

.modal-checkbox:checked {
  border: 1.5px solid #004643;
  background: var(--accent-color);
}

.modal-checkbox:checked::before {
  opacity: 1;
}

.modal-about__button,
.modal-contact__button,
.modal-thanks__button {
  box-shadow: 0px 12px 23px 0 #0823228f, inset 0px 6px 6px 0 #36ece3, inset -0px -6px 6px 0 #176561;
  background: linear-gradient(180deg, #32ddd4 0%, #1a746f 100%);
  max-width: 151px;
  color: var(--general-text);
  margin: 0 auto;
}

.modal-about__button {
  max-width: 151px;
}

.modal-contact__button {
  max-width: 309px;
}

.modal-calculator__button {
  opacity: 0.8;
  max-width: 282px;
  color: var(--general-text);
  margin: 0 auto;
}

.modal-calculator__button:hover {
  box-shadow: 0px 20px 40px 0 #33333378, inset 0px 9px 9px 0 #fff, inset -0px -9px 9px 0 #a2a2a2;
  background: linear-gradient(180deg, #fff 0%, #515151 100%);
  opacity: .8;
}

.modal-thanks__button {
  max-width: 112px;
}


/* ======================================================================== */

@media (max-width: 1100px) {
  .main__hero {
    margin: 110px 0 120px;
  }

  .nav__list {
    gap: 20px;
  }

  /* ============================== */
  .hero__content {
    padding: 60px 45px 115px;
  }

  /* =============================== */
  .footer__inner {
    padding: 50px 15px 22px;
  }

  /* =============================== */
  .modal-calculator__window {
    padding: 60px 40px;
  }
}

@media (max-width: 1000px) {
  .header__bottom-logo {
    max-width: 125px;
  }

  .header__bottom-menu {
    gap: 20px;
  }

  /* ================================= */
  .hero__content {
    padding: 35px 40px 50px;
  }

  /* ================================ */
  .footer__top {
    gap: 53px 20px;
  }

  /* ================================= */
  .modal-calculator__window {
    padding: 60px 20px;
  }
}

@media (max-width: 900px) {
  .button {
    font-weight: 400;
    font-size: 15px;
    height: 47px;
  }

  /* ========================= */

  .header__top-connect {
    justify-content: space-between;
    padding: 11px 30px 11px 58px;
  }

  /* ========================= */
  .header__bottom-menu {
    position: relative;
    padding: 8px 44px;
  }

  .burger-icon {
    display: flex;
  }

  .header__bottom-logo {
    position: absolute;
    left: 40%;
  }

  .nav {
    position: fixed;
    inset: 0;
    background: var(--general-bg);
    z-index: 10;
    font-size: 18px;
    padding: 40px 70px 30px;
    margin-top: 112px;

    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
  }

  .nav__list {
    flex-direction: column;
    align-items: self-start;
  }

  .body--opened-menu .nav {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }

  /* ================================= */
  .hero__content-title {
    font-size: 40px;
  }

  .hero__content-info {
    gap: 6px;
    height: 94px;
    padding: 13px;
  }

  .hero__content-info span {
    font-weight: 500;
    font-size: 18px;
  }

  .hero__content-info p {
    font-weight: 400;
    font-size: 14px;
  }

  .hero__content-column {
    gap: 40px;
  }

  .hero__content-column:first-child {
    gap: 260px;
  }

  .hero__button {
    gap: 70px;
  }

  /* ================================= */

  .footer__inner {
    padding: 30px 10px 22px;
  }

  .footer__top {
    grid-template: repeat(2, auto)/repeat(3, 1fr);
    align-items: start;
    margin-bottom: 30px;
    justify-content: center;
  }

  .footer__time-item:last-child,
  .footer__area-item:last-child {
    margin-bottom: 0px;
  }

  .footer__top-column-contact {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    align-items: center;
  }

  .footer__top-column-contact p {
    display: none;
  }

  .footer__contact-item:last-child {
    margin-bottom: 0px;
  }

  .footer__contact-list {
    max-width: 174px;
  }

  .footer__logo {
    display: none;
  }

  .footer__socials-list {
    margin-bottom: 0px;
  }

  .footer__applications {
    margin-bottom: 0px;
  }
}


@media (max-width: 800px) {

  .hero__content {
    padding: 20px 8px 35px;
  }

  .hero__content-column {
    gap: 30px;
  }

  .hero__content-column:first-child {
    gap: 230px;
  }

  .hero__button {
    gap: 45px;
  }

  .hero__content-info {
    gap: 3px;
    width: 159px;
    padding: 10px 4px;
  }

  /* =========================== */
  .footer__inner {
    padding: 30px 0px 22px;
}

  .footer__top-column-contact {
    gap: 60px;
  }
}

/* ============================== */

@media (max-width: 700px) {

  .hero {
    height: 56vw;
  }

  .main__hero {
    margin: 110px 0 35px;
  }

  .hero__content {
    display: none;
  }

  .hero__button {
    display: block;
  }

  .hero__content-adaptive {
    display: block;
    padding: 0 15px;
  }

  .hero__content-title {
    margin-bottom: 20px;
  }

  .hero__content-title::before {
    top: -47%;
    left: 11%;
  }

  .hero__content-title::after {
    top: -54%;
    right: 11%;
  }

  .hero__content-info-row {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .hero__button-about {
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 246px;
  }

  .hero__button-price {
    margin: 0 auto;
  }

  /* ======================= */
  .footer__top {
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 20px;
  }
  .footer__top-column-contact {
    display: block;
  }

  .footer__top-column-areas {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .footer__top-column-info {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .footer__top-column-contact {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .footer__socials-list {
    margin-bottom: 20px;
  }

  .footer__contact-number {
    margin-bottom: 17px;
  }

  /* ======================== */
  .modal-contact__title {
    font-size: 36px;
  }

  /* ========================= */

  .modal-thanks__window {
    padding: 50px 20px 40px;
  }
}

@media (max-width: 600px) {
  .header__top-connect {
    padding: 11px 8px;
  }

  .header__bottom-menu {
    padding: 8px;
  }

  .nav {
    padding: 40px;
  }

  /* ======================= */

  .footer__top {
    grid-template: repeat(3, auto)/repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    gap: 30px 15px;
  }

  .footer__top-column-time {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .footer__top-column-contact {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* ======================= */
  .modal-calculator__window {
    padding: 50px 20px;
    max-height: 100vh;
    overflow: auto;
  }

  .modal-calculator__inner {
    display: block;
    gap: 23px;
  }

  .modal-cancel {
    width: 27px;
    height: 27px;
    top: 15px;
    right: 15px;
  }

  .modal-title {
    font-size: 27px;
  }

  /* ======================= */
  .modal-contact__window {
    padding: 50px 28px 40px;
  }

  /* ======================== */
  .modal-thanks__window {
    padding: 47px 20px 30px;
  }

  .modal-thanks__text {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .main__hero {
    margin: 110px 0 22px;
  }

  /* ======================== */
  .header__top-connect {
    gap: 18px;
    justify-content: space-between;
    font-weight: 400;
  }

  .socials__list {
    gap: 18px;
  }

  .socials__item:last-child {
    display: none;
  }

  .header__top-tel img {
    display: none;
  }

  /* ========================== */
  .hero__content-title {
    font-size: 30px;
  }

  .hero__content-info {
    gap: 0px;
    border-radius: 12px;
  }

  .hero__content-info span {
    font-weight: 500;
    font-size: 16px;
  }

  .hero__content-info p {
    font-size: 13px;
  }

  /* ============================= */

  .modal-about__window {
    padding: 45px 15px;
  }

  .modal-title {
    font-size: 21px;
    margin-bottom: 20px;
  }

  .modal-text {
    padding: 0px;
    margin-bottom: 20px;
  }

  .field__input {
    padding: 14px;
  }

  /* ============================== */
  .modal-calculator__window {
    padding: 50px 15px 40px;
  }

  /* ================================ */

  .modal-calculator__inner {
    gap: 23px;
  }

  .modal-calculator__text {
    font-weight: 400;
  }

  .modal-calculator__check-label {
    gap: 10px;
    margin-bottom: 9px;
    font-size: 14px;
  }

  /* =============================== */
  .modal-contact__window {
    padding: 50px 20px 40px;
  }

  /* =============================== */

  .modal-thanks__button {
    height: 37px;
  }
}